{% extends "layout.html" %}
{% block content %}
<h3>Latest offers for apartments</h3>
<div class="gap-20"></div>
<div class="card-deck-wrapper">
    <div class="card-deck">
        <div class="col-md-6">
            {% for apartment in apartments.items %}
            <!-- items => pagination object!! -->
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title">{{ apartment.title }}</h4>
                    <p class="card-text">{{ apartment.description }}</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">Nr. of Rooms: {{ apartment.rooms }} </li>
                        <li class="list-inline-item">Size: {{ apartment.size }} m<sup>2</sup></li>
                        <li class="list-inline-item">Rent: {{ apartment.rent }} €/Month</li>
                        <small>
                            <li class="list-inline-item">Published: {{ apartment.date_posted.strftime('%Y-%m-%d %H:%M') }} </li>
                        </small>
                        <small>
                            <li class="list-inline-item">By:
                                <a class="mr-2" href="{{ url_for('user_items', username=apartment.author.username) }}">
                                    {{ apartment.author.username }}
                                </a>
                            </li>
                        </small>
                    </ul>
                    <a href="#" class="btn btn-primary stretched-link">Contact Landlord</a>
                </div>
            </div>
            <div class="gap-20"></div>
            {% endfor %}
            {% for page_num in apartments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if apartments.page == page_num %}
                        <a class="btn btn-info mb-4" href="{{ url_for('show_apartments', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('show_apartments', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                ...
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}