
    <!-- from create_item.html ==> address fields of form!-->            

            <!--
            </fieldset>
            -->

            <!-- Address Form: Table-Bezug automatisch erkannt?
            eigenen Submit-button fuer jedes fieldset??
            -->
            <!--
            <fieldset class = "form-group">
            -->
            <!-- Address-->
            <!--
                <legend class="border-bottom mb-4"> Address of the property </legend>

                <div class="form-group">
                    {{ form.street.label(class="form-control-label") }}
                    
                    {% if form.street.errors %}
                        {{ form.street(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.street.errors %}
                                <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.street(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.street_number.label(class="form-control-label") }}
                    
                    {% if form.street_number.errors %}
                        {{ form.street_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.street_number.errors %}
                                <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.street_number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.post_code.label(class="form-control-label") }}
                    
                    {% if form.post_code.errors %}
                        {{ form.post_code(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.post_code.errors %}
                                <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.post_code(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.city.label(class="form-control-label") }}
                    
                    {% if form.city.errors %}
                        {{ form.city(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.city.errors %}
                                <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.city(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                -->