{% extends "layout.html" %}
{% block content %}
<h3>What are you looking for?</h3>
<div class="gap-20"></div>
<!-- -->
<div class="card-deck-wrapper">
    <div class="card-deck">
        <div class="col-md-6">
            <!-- rows einbauen ?? -->
            {% for category in categories %}
            <div class="card">
                {% if category.type == 'house' %}
                    <img class="card-img-top" src="../static/images/house_1.jpg" alt="image of a house">
                {% elif category.type == 'apartment' %}
                    <img class="card-img-top" src="../static/images/apartment_1.jpg" alt="image of an apartment">
                {% else %}
                    <img class="card-img-top" src="../static/images/room_1.jpg" alt="image of a room">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ category.type }}</h4>
                    {% if category.type == 'house' %}
                        <a href="{{ url_for('show_houses')}}" class="btn btn-primary stretched-link">See Offers</a>
                    {% elif category.type == 'apartment' %}
                        <a href="{{ url_for('show_apartments')}}" class="btn btn-primary stretched-link">See Offers</a>
                    {% else %}
                        <a href="{{ url_for('show_rooms')}}" class="btn btn-primary stretched-link">See Offers</a>
                    {% endif %}
                </div>
            </div>
            <div class="gap-20"></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}